<nav>
    <div class="site-title">
        <a href="/">
            <h1>Title of Awesomeness</h1>
        </a>
        <p>random text</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Post</a></li>
    </ul>
</nav>