<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>We are a group of CEG students</p>
        <p>This is the About Page!!</p>
        <p>This is the About Page!!</p>
        <p>This is the About Page!!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>