.post-container {
    max-width: 600px;
    margin: 0 auto;
    max-width: 50%;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
}

.post-image {
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}